//== boxed
@font-face{
    font-family:'Boxed';
    src:url('../fonts/boxed/BoxedExtralight-Ital.woff') format('woff');
    font-weight:100;
    font-style:thin
  }
@font-face{
    font-family:'Boxed';
    src:url('../fonts/boxed/BoxedLight.woff') format('woff');
    font-weight:300;
    font-style:light
  }
@font-face{
    font-family:'Boxed';
    src:url('../fonts/boxed/BoxedRegular.woff') format('woff');
    font-weight:400;
    font-style:normal
  }
@font-face{
    font-family:'Boxed';
    src:url('../fonts/boxed/BoxedMedium.woff') format('woff');
    font-weight:500;
    font-style:medium
  }
@font-face{
    font-family:'Boxed';
    src:url('../fonts/boxed/BoxedSemibold.woff') format('woff');
    font-weight:600;
    font-style:semi-bold
  }
@font-face{
  font-family:'Boxed';
  src:url('../fonts/boxed/BoxedRegular-Bold.woff') format('woff');
  font-weight:700;
  font-style:bold
}
