//== Gilroy

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/gilroy/Gilroy-Thin.woff") format('woff');
}

@font-face {
  font-family: "Gilroy";
  font-style: italic;
  font-weight: 100;
  src: url("../fonts/gilroy/Gilroy-ThinItalic.woff") format('woff');
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/gilroy/Gilroy-UltraLight.woff") format('woff');
}

@font-face {
  font-family: "Gilroy";
  font-style: italic;
  font-weight: 200;
  src: url("../fonts/gilroy/Gilroy-UltraLightItalic.woff") format('woff');
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/gilroy/Gilroy-Light.woff") format('woff');
}

@font-face {
  font-family: "Gilroy";
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/gilroy/Gilroy-LightItalic.woff") format('woff');
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/gilroy/Gilroy-Regular.woff") format('woff');
}

@font-face {
  font-family: "Gilroy";
  font-style: italic;
  font-weight: normal;
  src: url("../fonts/gilroy/Gilroy-RegularItalic.woff") format('woff');
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/gilroy/Gilroy-Medium.woff") format('woff');
}

@font-face {
  font-family: "Gilroy";
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/gilroy/Gilroy-MediumItalic.woff") format('woff');
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/gilroy/Gilroy-SemiBold.woff") format('woff');
}

@font-face {
  font-family: "Gilroy";
  font-style: italic;
  font-weight: 600;
  src: url("../fonts/gilroy/Gilroy-SemiBoldItalic.woff") format('woff');
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/gilroy/Gilroy-Bold.woff") format('woff');
}

@font-face {
  font-family: "Gilroy";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/gilroy/Gilroy-BoldItalic.woff") format('woff');
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/gilroy/Gilroy-ExtraBold.woff") format('woff');
}

@font-face {
  font-family: "Gilroy";
  font-style: italic;
  font-weight: 800;
  src: url("../fonts/gilroy/Gilroy-ExtraBoldItalic.woff") format('woff');
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/gilroy/Gilroy-Black.woff") format('woff');
}

@font-face {
  font-family: "Gilroy";
  font-style: italic;
  font-weight: 900;
  src: url("../fonts/gilroy/Gilroy-BlackItalic.woff") format('woff');
}