
  @font-face {
      font-family: 'Gotham';
      src: url('../fonts/gotham/Gotham-Thin.eot');
      src: url('../fonts/gotham/Gotham-Thin.eot?#iefix') format('embedded-opentype'),
           url('../fonts/gotham/Gotham-Thin.woff') format('woff'),
           url('../fonts/gotham/Gotham-Thin.ttf') format('truetype'),
           url('../fonts/gotham/Gotham-Thin.svg#Gotham-Thin') format('svg');
      font-weight: 100;
      font-style: normal;
  }

  @font-face {
      font-family: 'Gotham';
      src: url('../fonts/gotham/Gotham-Light.eot');
      src: url('../fonts/gotham/Gotham-Light.eot?#iefix') format('embedded-opentype'),
           url('../fonts/gotham/Gotham-Light.woff') format('woff'),
           url('../fonts/gotham/Gotham-Light.ttf') format('truetype'),
           url('../fonts/gotham/Gotham-Light.svg#Gotham-Light') format('svg');
      font-weight: 300;
      font-style: normal;
  }

  @font-face {
      font-family: 'Gotham';
      src: url('../fonts/gotham/Gotham-Book.eot');
      src: url('../fonts/gotham/Gotham-Book.eot?#iefix') format('embedded-opentype'),
           url('../fonts/gotham/Gotham-Book.woff') format('woff'),
           url('../fonts/gotham/Gotham-Book.ttf') format('truetype'),
           url('../fonts/gotham/Gotham-Book.svg#Gotham-Book') format('svg');
      font-weight: 400;
      font-style: normal;
  }

  @font-face {
      font-family: 'Gotham';
      src: url('../fonts/gotham/Gotham-Medium.eot');
      src: url('../fonts/gotham/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
           url('../fonts/gotham/Gotham-Medium.woff') format('woff'),
           url('../fonts/gotham/Gotham-Medium.ttf') format('truetype'),
           url('../fonts/gotham/Gotham-Medium.svg#Gotham-Medium') format('svg');
      font-weight: 500;
      font-style: normal;
  }


  @font-face {
      font-family: 'Gotham';
      src: url('../fonts/gotham/Gotham-Bold.eot');
      src: url('../fonts/gotham/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
           url('../fonts/gotham/Gotham-Bold.woff') format('woff'),
           url('../fonts/gotham/Gotham-Bold.ttf') format('truetype'),
           url('../fonts/gotham/Gotham-Bold.svg#Gotham-Bold') format('svg');
      font-weight: 700;
      font-style: normal;
  }
