//** Background color for `<body>`.
$body-bg:               white !default;

// main font color
$font-color:            white !default;
$font-size:             14px !default;

//** Global textual link color.
$link-color:            #222222 !default;
$theme-color:           #0c0c0c !default;
$second-background: #fbfbfb;
$second-color: 			#f44444 !default;