.leaderboard{
  --sort-winner-bg: #737373;
  --sort-default-bg: #323232;
  --sort-even-bg: #2a2a2a;

  overflow-y: auto;
  max-height: var(--section-max-height);

  &::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }

  &::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.2);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5);
  }

  &::-webkit-scrollbar-corner {}

  .leaderboard-item {
    width: 100%;
    padding: 10px;
    font-size: 1vw;
    background-color: var(--sort-default-bg);
    &:nth-child(2n){
      background-color: var(--sort-even-bg);
    }
    &:nth-child(1){
      background-color: var(--sort-winner-bg);
    }

    img {
      height: 2.5vw;
      width: 2.5vw;
      margin-right: 30px;
      object-fit: cover;
    }

    i {
      text-shadow: 0px 1px 1px black;
      display: none;
    }

    .person{
      &+.person{
        margin-top: 10px;
      }
    }

    .value {
      background-color: rgba(255, 255, 255, .85);
      display: inline-block;
      margin-left: 30px;
      color: black;
      padding: 5px 15px;
      font-weight: 500;
      min-width: 5vw;
      text-align: center;
      margin-right: 15px;
      font-size: 0.9vw;
      position: relative;
      font-weight: bold;
        .shortcoming{
          position: absolute;
          top: 0;
          right: 0;
          color: $second-color;
          font-size: 0.45vw;
          padding: 2px 5px;
          font-weight: bold;
        }
    }

    .name {
      flex: 1;
      font-weight: 300;
    }

  }

  .gold {
    // img {border: 2px solid gold;}

    i {
      color: gold;
      display: block;
    }
  }

  .silver {
    // img {border: 2px solid silver;}

    i {
      color: silver;
      display: block;
    }
  }

  .bronze {
    // img {border: 2px solid #cd7f32;}

    i {
      color: #cd7f32;
      display: block;
    }
  }
}