.notification {
  width: 100%;
  overflow-y: auto;
  max-height: var(--section-title-max-height);
  padding-right: 10px;
  li {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    margin-bottom: 15px;
    font-size: 0.8vw;

    .notification-content {
      padding: 5px 30px 5px 5px;
      line-height: 1.4;
    }

    img {
      height: 4vw;
      min-width: 4vw;
      width: 4vw;
      margin: 4px;
      object-fit: cover;
      margin-right: 15px;
    }

    transition: all .2s ease;
    cursor: pointer;

    &:hover {
      background-color: rgba(255, 255, 255, 1);
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }

  &::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.2);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5);
  }

  &::-webkit-scrollbar-corner {}
}