.user-info {
  @include block_padding(100%);
  position: relative;
  max-height: var(--section-title-max-height);
  width: 100%;
  overflow: hidden;

  .user-avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
  }
}

.avatar-fade {
  animation-name: avatar-fade;
  animation-duration: .6s;
}

@keyframes avatar-fade {
  from {opacity: .4} 
  to {opacity: 1}
}
