$smartphone: 768px;
$tablet: 992px;
$desktop: 1200px;
@mixin media($media) {
    @if $media==xs {
        @media (max-width: ($smartphone - 1)) {
            @content;
        }
    }
    @else if $media==sm {
        @media (min-width: $smartphone) and (max-width: ($tablet - 1)) {
            @content;
        }
    }
    @else if $media==md {
        @media (min-width: $tablet) and (max-width: ($desktop - 1)) {
            @content;
        }
    }
    @else if $media==gt-md {
        @media (min-width: $desktop) {
            @content;
        }
    }
}
