// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$app-store-name: 'app_store';
$app-store-x: 0px;
$app-store-y: 70px;
$app-store-offset-x: 0px;
$app-store-offset-y: -70px;
$app-store-width: 148px;
$app-store-height: 65px;
$app-store-total-width: 213px;
$app-store-total-height: 135px;
$app-store-image: '../images/sprite.png';
$app-store: (0px, 70px, 0px, -70px, 148px, 65px, 213px, 135px, '../images/sprite.png', 'app_store', );
$cart-qiwi-name: 'cart_qiwi';
$cart-qiwi-x: 159px;
$cart-qiwi-y: 0px;
$cart-qiwi-offset-x: -159px;
$cart-qiwi-offset-y: 0px;
$cart-qiwi-width: 54px;
$cart-qiwi-height: 33px;
$cart-qiwi-total-width: 213px;
$cart-qiwi-total-height: 135px;
$cart-qiwi-image: '../images/sprite.png';
$cart-qiwi: (159px, 0px, -159px, 0px, 54px, 33px, 213px, 135px, '../images/sprite.png', 'cart_qiwi', );
$cart-visa-name: 'cart_visa';
$cart-visa-x: 159px;
$cart-visa-y: 38px;
$cart-visa-offset-x: -159px;
$cart-visa-offset-y: -38px;
$cart-visa-width: 52px;
$cart-visa-height: 33px;
$cart-visa-total-width: 213px;
$cart-visa-total-height: 135px;
$cart-visa-image: '../images/sprite.png';
$cart-visa: (159px, 38px, -159px, -38px, 52px, 33px, 213px, 135px, '../images/sprite.png', 'cart_visa', );
$cart-yandex-name: 'cart_yandex';
$cart-yandex-x: 159px;
$cart-yandex-y: 76px;
$cart-yandex-offset-x: -159px;
$cart-yandex-offset-y: -76px;
$cart-yandex-width: 52px;
$cart-yandex-height: 33px;
$cart-yandex-total-width: 213px;
$cart-yandex-total-height: 135px;
$cart-yandex-image: '../images/sprite.png';
$cart-yandex: (159px, 76px, -159px, -76px, 52px, 33px, 213px, 135px, '../images/sprite.png', 'cart_yandex', );
$google-play-name: 'google_play';
$google-play-x: 0px;
$google-play-y: 0px;
$google-play-offset-x: 0px;
$google-play-offset-y: 0px;
$google-play-width: 154px;
$google-play-height: 65px;
$google-play-total-width: 213px;
$google-play-total-height: 135px;
$google-play-image: '../images/sprite.png';
$google-play: (0px, 0px, 0px, 0px, 154px, 65px, 213px, 135px, '../images/sprite.png', 'google_play', );
$spritesheet-width: 213px;
$spritesheet-height: 135px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($app-store, $cart-qiwi, $cart-visa, $cart-yandex, $google-play, );
$spritesheet: (213px, 135px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
