extends ../layouts/_body

block content
  .wrapper
    .container-fluid
      .row
        .col-md-3.col-sm-12.d-flex.justify-content-center.flex-column.leaderboard-name.section-title(data-title="")
          .user-info#particles-js

        .col-md-6.col-sm-12.d-flex.justify-content-center.flex-column(style="padding-left:50px; padding-right:50px;")
          .leaderboard

        .col-md-3.col-sm-12.d-flex.justify-content-center.flex-column.section-title(data-title="Achievement unlocked")
          ul.notification


block scripts

  script#leaderboardNavigationTemplate(type='text/x-jquery-tmpl').
    <li class="pointer z-depth-2 hoverable rating" data-rating="${id}">${name}</li>

  script#leaderboardItemTemplate(type='text/x-jquery-tmpl').
    <div class="leaderboard-item d-flex justify-content-between" data-score="${score}" sort-value="${score}">
      <div style="flex:1">
        {{each(prop, val) users}}
          <div class="person" >
              <img class="z-depth-2" src="{{if avatar != ''}} ${avatar} {{else}}images/empty_user.png{{/if}}" alt="Winner" />
              <span class="name">${name}</span>
          </div>
        {{/each}}
      </div>
      <div class="d-flex align-items-center justify-content-center">
          <i class="ion ion-md-trophy"></i>
      </div>
      <span class="value z-depth-2 d-flex align-items-center justify-content-center">
          ${score}%
          {{if shortcoming_procent != 0}}
            <span class="shortcoming">-${shortcoming_procent}%</span>
          {{/if}}
      </span>
    </div>

  script#notificationItemTemplate(type='text/x-jquery-tmpl').
    <li class="z-depth-5 hoverable d-flex align-items-center">
      <img class="z-depth-3" src="${avatar}" alt="" />
      <div class="d-flex flex-column notification-content">
        <span class="font-weight-bold mb-1">${name}</span>
        <span>${text}</span>
      </div>
    </li>