header{
    padding: 30px 0;
    z-index: 1;
    margin-bottom: 30px;
    font-size: 0.8vw;
    .logo{
        height: 50px;
    }
}

.leaderboard-navigation {
  li {
    margin-right: 25px;
    display: inline-block;
    border: 1px solid white;
    background-color: black;
    padding: 10px 15px;
    text-transform: uppercase;
    font-weight: 300;
    transition: all .2s ease;

    &.active {
      background-color: white;
      color: black;
      font-weight: 500
    }
  }
}

.leaderboard-navigation2 {
  position: relative;

  .dropdown{
    position: initial;
    flex: 1 0 12.5%;
    &.show{
      button{
        background-color: white;
        color: black;
        font-weight: bold;
      }
    }
    button {
      margin-right: 25px;
      display: inline-block;
      border: 1px solid white;
      background-color: black;
      padding: 10px 15px;
      text-transform: uppercase;
      font-weight: 300;
      transition: all .2s ease;
      color: white;
      border-radius: 0;
      font-size: 0.8vw;
      width: 90%;
      outline: none !important;
      position: relative;
      margin: auto;
      &:after{
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translate3d(0,-50%,0);
      }
      &:focus{
          border-radius: 0;
      }
    } 
    .dropdown-menu{
      width: 100%;
      padding: 0;
      border-radius: 0;
      top: 100% !important;
      margin: 0;
      margin-top: 5px;
      &.show{
        transform: unset !important;
      }
      .dropdown-header{
        text-align: center;
        font-weight: bold;
        padding: 0;
        color: #333;
        text-transform: uppercase;
        background-color: #dedede;
        font-size: 0.8vw;
      }
      .dropdown-menu-link{
        li{
          flex: 1 0 12.5%;
          text-align: center;
          border-top: 1px solid #333;
          border-bottom: 1px solid #333;
          &+li{
            border-left: 1px solid #333
          }
          a{
            font-size: 0.8vw;
            padding: .5rem 1.5rem;
            &:hover{
              background-color: #dedede;
            }
          }
        }
      }
    }
  }
}


#month-countdown{
    font-weight: 300;
    line-height: 1.4;
    margin-right: 10px;
    color: $second-color;
    > div{
        display: flex;
        align-items: center;
        flex-direction: column;
        text-transform: uppercase;
        position: relative;
        margin-right: 40px;
        &:after{
            position: absolute;
            height: 30px;
            top: 0;
            bottom: 0;
            margin: auto;
            width: 1px;
            background-color: $second-color;
            right: -20px;
            content: '';
        }
        &:last-child{
            margin-right: 0;
            &:after{
                display: none;
            }
        }
    }
}