//
// Scaffolding
// --------------------------------------------------
// Reset the box-sizing
//
// Heads up! This reset may cause conflicts with some third-party widgets.
// For recommendations on resolving such conflicts, see
// http://getbootstrap.com/getting-started/#third-box-sizing


/*** 

====================================================================
    Reset
====================================================================

 ***/

  * {
      margin:0px;
      padding:0px;
      border:none;
      outline:none;
  }

  .z-depth-0 {
      box-shadow: none !important;
  }

  .z-depth-1 {
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  }

  .z-depth-2 {
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  }

  .z-depth-3 {
      box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
  }

  .z-depth-4 {
      box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
  }

  .z-depth-5 {
      box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
  }

  .hoverable {
      transition: box-shadow .25s;
  }

  .hoverable:hover {
      box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

/*** 

====================================================================
    Global Settings
====================================================================

 ***/

  body {
    color: $font-color;
    background: $body-bg;
    font-family: $font-family-base
  }

  a {
    text-decoration: none;
    cursor: pointer;
    color: $link-color;
    &:hover, &:focus, &:visited {
      text-decoration: none;
      outline: none;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    position: relative;
    font-weight: 500;
    background: none;
    margin: 0px;
    line-height: 1.6em;    
  }

  textarea {
    overflow: hidden;
  }

  p {
    font-size: $font-size;
    position: relative;
    line-height: 1.8em;
    margin-bottom: 0;
    color: $font-color;
  }

  ::-webkit-input-placeholder, ::-moz-input-placeholder, ::-ms-input-placeholder {
    color: inherit;
  }


  ul, li {
    list-style: none;
    padding: 0px;
    margin: 0px;
  }

  img {
    display: inline-block;
    max-width: 100%;
    height: auto;
  }

  .pointer{
    cursor: pointer;
  }

  .custom-scroll{
    &::-webkit-scrollbar-track {
      background-color: #F5F5F5;
    }
    &::-webkit-scrollbar {
      width: 8px;
      background-color: white;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #666;
    }
  }

  .swal2-popup {
    font-size: 1.5rem !important;
  }


/* ----------------------------------- */

  :root{
    --section-max-height: 70vh;
    --section-title-padding-top: 2.5vw;
    --section-title-max-height: calc(var(--section-max-height) - var(--section-title-padding-top));
  }

  .page-container{
    background-color: #212121;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0 30px;
  }

  .wrapper{
    flex: 1;
    display: flex;
    align-items: center;
  }

  .content--canvas canvas{
    opacity: 0.9
  }

  #particles-js {
    position: relative;
  }

  canvas {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .section-title{
    padding-top: var(--section-title-padding-top);
    &:before{
      font-size: 1.4vw;
      text-transform: uppercase;
      text-shadow: 0px 1px 1px black;
      position: relative;
      font-weight: bold;
      position: relative;
      text-align: left;
      position: absolute;
      top: 0;
      left: 0;
      padding-left: 15px;
      content: attr(data-title);
    }
  }
