//== Typography

@import "fonts/_gilroy";
@import "fonts/_gotham";
@import "fonts/_boxed";

//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.

$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;
// $font-family-base:        'Gotham', sans-serif !default; // Gilroy
$font-family-base:        'Boxed',Arial, sans-serif !default;
$font-size-base:          14px !default;
$line-height-base:        1.7em !default; // 20/14