<!DOCTYPE html>html(lang="en")  head    include _head.jade  body    .page-container      .content--canvas      include _header.jade      block content      include _footer.jade        block styles    block scripts