header
  .d-flex.justify-content-between.align-items-center
    .col-md-3
      img.logo(src="images/logo.png", alt="Logo")

    .col-md-6
      .navigation-wrapper
        //- ul.leaderboard-navigation
        //- br
        ul.leaderboard-navigation2.d-flex
          li.dropdown.d-flex.justify-content-center
            button.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
              | Sales
            .dropdown-menu
              div
                h6.dropdown-header Individual
                ul.d-flex.dropdown-menu-link
                  li
                    a.dropdown-item(href='#') Best Call Race
                  li
                    a.dropdown-item(href='#') Best Amount Race
                  li
                    a.dropdown-item(href='#') Best New Customer Race
                  li
                    a.dropdown-item(href='#') Best Overal Race
              div
                h6.dropdown-header Team
                ul.d-flex.dropdown-menu-link
                  li
                    a.dropdown-item(href='#') Best Call Race
                  li
                    a.dropdown-item(href='#') Best Amount Race
                  li
                    a.dropdown-item(href='#') Best New Customer Race
          li.dropdown.d-flex.justify-content-center
            button.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
              | Buying
            .dropdown-menu
              div
                h6.dropdown-header Individual
                ul.d-flex.dropdown-menu-link
                  li
                    a.dropdown-item(href='#') Best Call Race
                  li
                    a.dropdown-item(href='#') Best Amount Race
                  li
                    a.dropdown-item(href='#') Best Vendor Race
                  li
                    a.dropdown-item(href='#') Lead Open Daily
              div
                h6.dropdown-header Team
                ul.d-flex.dropdown-menu-link
                  li
                    a.dropdown-item(href='#') Best Call Race
                  li
                    a.dropdown-item(href='#') Best Amount Race
                  li
                    a.dropdown-item(href='#') Best Vendor Race
          li.dropdown.d-flex.justify-content-center
            button.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
              | Leadgen
            .dropdown-menu
              div
                h6.dropdown-header Individual
                ul.d-flex.dropdown-menu-link
                  li
                    a.dropdown-item(href='#') Best Call Race
                  li
                    a.dropdown-item(href='#') Best Amount Race
                  li
                    a.dropdown-item(href='#') Best New Customer Race
                  li
                    a.dropdown-item(href='#') Best Overal Race


        //- ul.leaderboard-navigation2
        //-   li.pointer.z-depth-2.hoverable.rating test

    .col-md-3.d-flex.justify-content-end
      #month-countdown.d-inline-flex